<section>
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb margin-top-36" style="padding: 70px 58px;">
                <li class="active"><h1 style="color: #212121;font-size: 62px;">Our Products Range</h1></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="row">
                <div id="filters" class="current_page_item" style="padding: 50px 35px;" >
                    <button class="but product-button" data-filter="*">All</button>
                    <button class="but product-button" data-filter=".branding">HOME</button>
                    <button class="but product-button" data-filter=".web">OFFICE</button>
                    <button class="but product-button" data-filter=".print">FURNITURE</button>
                    <button class="but product-button" data-filter=".photo">MODERN</button>
                    <button class="but product-button" data-filter=".photo">CLASSIC</button>
                </div>
            </div>
            <div class="row">
                <!--sliphover-->
                <div class="izotope-container gutt-col3">
                    <div class="grid-sizer"></div>
                    <div class="item branding ">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-11.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item web photo">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-21.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item print web">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-31.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item branding">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-41.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item web photo">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-5.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item web print">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-6.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item branding">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-11.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item web photo">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-21.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item print web">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-31.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item branding">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-41.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item web photo">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-5.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="item web print">
                        <a href="@Url.Action("ProductDetails","Product")">
                            <div class="det-img ellem">
                                <img class="shadow-1" src="~/assets/img/products/product-6.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--promo-product-->
<section class="margin-bottom-80">
    <div class="row">
        <div class="col-sm-6 card-1 card-container">
            <ul>
                <li>
                    <div class="card-body">
                        <div class="container">
                            <div class="wrapper">
                                <div class="left-animation caption header">
                                    <h3>Exclusıve</h3>
                                    <h2>Fıshnet Chair</h2>
                                    <div class="caption sub">
                                        <p>Seat and back with upholstery made of cold cure foam.<br> Steel frame available in matt powder-coated black</p>
                                    </div>
                                    <div class="caption but">
                                        <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 card-2 card-container">
            <ul>
                <li>
                    <div class="card-body">
                        <div class="container">
                            <div class="wrapper">
                                <div class="right-animation caption header">
                                    <h3>Exclusıve</h3>
                                    <h2>Fıshnet Chair</h2>
                                    <div class="caption sub">
                                        <p>Seat and back with upholstery made of cold cure foam.<br> Steel frame available in matt powder-coated black</p>
                                    </div>
                                    <div class="caption but">
                                        <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>
